*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: Hanken Grotesk;
  src: url('assets/HankenGrotesk-VariableFont_wght.ttf') format('truetype'),
    url('assets/HankenGrotesk-VariableFont_wght.ttf') format('truetype-variations'),
    url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype'),
    url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype'),
    url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
}
h2 {
  font-weight: 500;
}

.container {
  width: 650px;
  background: hsl(0, 0%, 100%);
}

.inner-container {
  display: flex;
  border-radius: 25px;
  box-shadow: 20px 20px 50px 10px hsl(221, 100%, 96%);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(0, 0%, 100%);
  flex: 1;
  border-radius: 25px;
  text-align: center;
}
.left h2 {
  color: hsl(241, 100%, 89%);
}
.score-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.big-score {
  font-weight: 800;
  font-size: 56px;
}
.small-score {
  font-weight: 100;
  text-align: center;
}
.copy {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: hsl(221, 100%, 96%);
  color: hsl(241, 100%, 89%);
}

.middle {
  font-weight: 500;
  font-size: 28px;
}
.right {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 0 20px;
  flex: 1;
}

.summary-table {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
.image-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.attribute {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  margin-left: -60px;
}

.attribute-score {
  font-weight: 500;
  color: hsla(224, 30%, 27%, 0.6);
}
.attribute-score strong {
  font-weight: 700;
  font-size: 18px;
  color: hsl(224, 30%, 27%);
}

li:nth-child(1) {
  background: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
li:nth-child(2) {
  background: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
li:nth-child(3) {
  background: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
li:last-child {
  background: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

.btn {
  text-decoration: none;
  text-align: center;
  color: hsl(0, 0%, 100%);
  padding: 15px;
  margin-top: 25px;
  background: hsl(224, 30%, 27%);
  border-radius: 30px;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .inner-container {
    flex-direction: column;
  }
  .left {
    padding: 15px;
    margin-top: 200px;
    border-radius: 0 0 30px 30px;
  }
  .score-circle {
    width: 120px;
    height: 120px;
  }
  .big-score {
    font-size: 36px;
  }
  .summary-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
